<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="jumbotron">
        <form action="/">
            <button type="submit" class="btn btn-lg btn-success">
                <a href="/admin" style="color: white;">Register as ADMIN</a>
            </button>
            <button type="submit" class="btn btn-lg btn-success">
                <a href="/user" style="color: white;">Register as USER</a>
            </button>
        </form>
    </div>
</body>
</html>